# Logs
logs
log/
*.log
*.log*

# ide
.gradle
.idea
*.iml
/.project
/.settings
/target/

### VS Code ###
.vscode/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
bin
.settings
.project
.classpath
application.local.yml
